*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #052e5c;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
footer{
    background-color: #052e5c;
    color: white;
    padding: 15px 23px;
    margin-top: 5rem;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.emo{
    font-size: 145px;
}
.emoName{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* display: flex;         as whole div=choice  is flex so no need to flex it further(no effect)*/
    text-align: center;
    justify-content: center;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #052e5c;
}
.score-board{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size: 35px;
    background-color: #052e5c;
    color: #fff;
    display: inline;
    border-radius: 20px;
    padding: 15px;
}